body {
  width: 450px;
  height: 500px;
}
nav {
  position: relative;
  height: 40px;
  background-color: rgb(41, 94, 174);
  margin-bottom: 5px;
}
.menu {
  position: absolute;
  top: 9px;
  left: 7px;
  width: 25px;
  height: 25px;
  background: url(../images/列表.png) no-repeat;
  background-size: 20px;
  cursor: pointer;
}
.search {
  position: relative;
  left: 35px;
  top: 7px;
  background-color: white;
  border-radius: 15px;
  height: 25px;
  width: 300px;
  cursor: text;
}
.mag {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 18px;
  height: 15px;
  background: url(../images/放大镜.png) no-repeat;
  background-size: 15px;
  cursor: pointer;
}
#new_folder {
  position: absolute;
  display: block;
  top: 7px;
  right: 7px;
  width: 100px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  text-shadow: 0px 0.4px;
  border-radius: 15px;
  background-color: #bfbfbf;
  cursor: pointer;
}
