body {
  width: 450px;
  height: 500px;
}
nav {
  position: relative;
  height: 40px;
  background-color: rgb(41, 94, 174);
  margin-bottom: 5px;
}
.menu {
  position: absolute;
  top: 9px;
  left: 7px;
  width: 25px;
  height: 25px;
  background: url(../images/列表.png) no-repeat;
  background-size: 20px;
}
.search {
  position: relative;
  left: 35px;
  top: 7px;
  background-color: white;
  border-radius: 15px;
  height: 25px;
  width: 300px;
}
.mag {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 18px;
  height: 15px;
  background: url(../images/放大镜.png) no-repeat;
  background-size: 15px;
  /* background-position: -80px 0; */
}
.new_folder {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 100px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 15px;
  background-color: #bfbfbf;
}
article {
  height: calc(100% - 40px);
  background-color: #dfdbe5;
  background-image: url(../images/background.svg);
  filter: blur(2px);
}
